* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

:root {
  --color-default: white;
  --color-emptystate: #c6972c;
  --color-errorstate: #97392d;
}

body {
  overflow: hidden;
}

video {
  width: 100vw;
}

header {
  display: flex;
  justify-content: center;
}

/* Melding */
.melding {
  display: flex;
  width: 15em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  align-items: center;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: 1em auto;

  background-color: var(--color-default);
}

.melding svg {
  width: 2em;
  margin-right: 1.2em;
}

.onzichtbaar {
  display: none;
}

/* Melding - Product gevonden */
.product-gevonden img {
  max-height: 4em;
}

.product-gevonden {
  /* position: absolute; */
  justify-content: space-between;
  background-color: var(--color-default);
  width: 40vw;
}
