* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

video {
  width: 100vw;
  /* height: 100vh;
  object-fit: cover; */
}

header {
  display: flex;
  justify-content: center;
}

/* melding */
.melding {
  display: flex;
  max-width: 66vw;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  margin-top: 1em;
  align-items: center;
}

header svg {
  width: 2em;
  margin-right: 1.2em;
}

.product-gevonden svg {
  width: 2em;
}

.product-gevonden img {
  max-height: 4em;
}

.product-gevonden {
  /* position: absolute; */
  justify-content: space-between;
  background-color: white;
  width: 70vw;
  bottom: 1em;
}
